<!-- <h1 class="">Buy and sell hundreds of U.S. stocks</h1> -->
<%- include ('./partials/hero.ejs') %>
    <%- include ('./partials/table.ejs') %>
        <%- include ('./partials/portfolio-section.ejs') %>
            <%- include ('./partials/gains.ejs') %>
                <%- include ('./partials/reasons-section.ejs') %>